.messages {
    padding: 5vh 1vh;
    overflow-y: auto;
    flex: auto;
    height: 90vh;
    width: 100%;
    min-height: 0;
  }

.css-y1c0xs::-webkit-scrollbar {
  display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
.css-y1c0xs {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@media (min-width: 320px) and (max-width: 1200px)  {
    .messages{
      padding: 1vh 3vh;
    }
}