.messages {
    padding: 1vh 3vh;
    overflow-y: auto;
    flex: auto;
    height: 86vh;
  }

.css-y1c0xs::-webkit-scrollbar {
  display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
.css-y1c0xs {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

