.messageBox {
    font-size:14px;
    border-radius: 1em;
    padding: .5em 1em;
    margin-bottom:.05em;
    display: inline-block;
    max-width: 60%;
  }
  
  .messageText {
    width: 100%;
    letter-spacing: 0;
    float: left;
    font-size: 14px;
    word-wrap: break-word;
    margin:0px;
  }
  
  .messageText img {
    vertical-align: middle;
    max-width:100%;
  }
  
  .messageContainer {
    display: flex;
    justify-content: flex-end;
    padding: 0 2%;
    margin-top: .2em;
  }

  .sentText {
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size:11px;
    margin:0;
    width:100%;
    word-break: break-all;
    font-weight: 700;
  }
    
  .justifyStart {
    justify-content: flex-start;
  }
  
  .justifyEnd {
    justify-content: flex-end;
  }
 
  .time{
    font-size:10px;
    padding:0;
    margin:0;
    float:right;
  }
  
 .systemMessage{
    right:0;
    left:0;
    margin: .5em auto;
    border-radius: '0px';
 }

 .imageMessage{
   width:25em;
 }

 @media (min-width: 320px) and (max-width: 1200px)  {
  .messageBox{
    min-width: 30%;
    max-width: 80%;
  }
 }