.form {
    align-self: center ;
    display: flex;
    height:12vh;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    padding-left: .5em;
    margin:0;
    margin-bottom:1em;
    /* box-shadow: inset 0px 1px 2px var(--aux-color); */
  }

  .icon.group{
    width:2em;
    height:2em;
    display:flex;
    margin:0;
    padding:0;
    align-items:flex-start;
    justify-content:center;
  }
  
  .input {
    font-size:14px;
    border-radius: 0;
    width: 55vw;
    height:6.5vh;
    text-indent: 1.5em;
    margin:0;
    padding:0;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    /* border:1px solid purple; */
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
    /* border: 1px solid var(--main-color); */
  }
  
  .button {
    border: none;
    font-size:26px;
    margin:0;
    padding:.2em;
    border-radius: 1em;
    /* border:1px solid red; */
  }

  .file > input{
    display:none;
  }

  .fileLabel{
    cursor:pointer;
  }
  
  @media (min-width: 480px) and (max-width: 1200px) {
    .form{
      font-size:16px;
    }

    .button {
      font-size:24px !important;
      margin:0 .1em;
    }

    .input{
      width:60vw;
      height:6vh;
    }

    .form{
      margin-bottom: 5vh;
    }
  }