.form {
    align-self: center ;
    display: flex;
    border:1px solid var(--bg-color);
    height:15%;
    width:95%;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    padding-left: .5em;
    /* box-shadow: inset 0px 1px 2px var(--aux-color); */
  }
  
  .input {
    font-size:14px;
    border: none;
    border-radius: 0;
    width: 80%;
    height:50%;
    text-indent: 1.5em;
    background-color: #fff;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    border:1px solid var(--aux-color);

    /* border:1px solid purple; */
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
    /* border: 1px solid var(--main-color); */
  }
  
  .button > svg  {
    stroke: var(--main-color) !important;
    fill: var(--main-color) !important;

  }

  .button {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    border: none;
    padding:.1em;
    padding-top:.4em;
    height:50%;
    width:auto;
    font-size:26px;
    background-color:transparent
    /* border:1px solid red; */
  }
  
  @media (min-width: 480px) and (max-width: 1200px) {
    .button {
      font-size:18px !important;
    }
  }