  .outerContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    font-family: 'Manrope', sans-serif;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    padding: 1px;
    height: 100vh;
    width: 77vw;
  }

  @media (min-width: 320px) and (max-width: 1200px) {
    .outerContainer {
      height: 100%;
    }  

    .container {
      width: 100vw;
    }
  }
