.menu{
    display: flex;
    flex-direction: column;
    margin:0;
    padding:0;
    color: var(--text-color);
    justify-content: space-between;
    align-items: center;
    text-align:center;
    height:100vh;
    width:6vw;
    background-color: var(--bg-color);
    /* box-shadow: inset -1px 0px 10px var(--aux-color); */
}

.switch {
  position: relative;
  display: inline-block;
  width: 3em;
  height: 1.5em;
  margin:.3em;
  margin-top:1.5em;

}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--aux-color);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 1.3em;

}

.slider:before {
  position: absolute;
  content: "";
  height: 1.2em;
  width: 1.2em;
  left: .15em;
  bottom: .15em;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;

}

input:checked + .slider {
  background-color: var(--main-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--main-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.6em);
  -ms-transform: translateX(1.6em);
  transform: translateX(1.6em);
}

.tools{
  display:flex;
  flex-direction:column;
  padding:0;
}

.tools > .tool {
  margin:0;
  width:100%;
  height:auto;
  padding:1em 2em;
  border-bottom:1px solid var(--lighten-main);
}

.tool{
  width:2.7em;
  height:2.7em;
  margin:1em;
  margin-bottom:2.2em;
}

.return{
  border-radius: 50%;
  border:.2em solid var(--main-color);
  /* background-color: var(--aux-color); */
}

.tool > .icon{
  font-size:2em;
  margin-top:.1em;
  fill: var(--main-color);
}

.tool:hover{
  opacity: .6;
  background-color: var(--lighten-main);
}


@media (max-width: 1200px) {
    .menu {
      display: none;
    }
  }