.menu{
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    margin:0;
    padding:0;
    justify-content: space-between;
    align-items: center;
    text-align:center;
    height:65vh;
    width:6vw;
    bottom:0vh;
}

.tools{
  display:flex;
  flex-direction:column;
  padding:0;
}

.tools > .tool {
  margin:0;
  width:100%;
  height:auto;
  padding:1em 2em;
}

.tool{
  width:2.7em;
  height:2.7em;
  margin:1em;
  margin-bottom:2.2em;
}

.return{
  border-radius: 50%;
}

.tool > .icon{
  font-size:2em;
  margin-top:.1em;
}

.tool:hover{
  opacity: .6;
}

@media (max-width: 1200px) {
    .menu {
      display: none;
    }
  }