  a {
    font-size:12px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
    font-weight: 700;
    letter-spacing:2px;
  }
  
  .textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width:15vw;
    height:100vh;
    background-color: var(--bg-color);
    font-size:14px;
    color: var(--main-color);
    padding-top:1.5em;
    box-shadow: inset 1px 0px 10px var(--aux-color);

  }
  
  .activeContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height:75vh;
    width:15vw;
    overflow:auto;
    padding:.8em;
    margin:0;   
  }
  
  .activeItem {
    display: flex;
    align-items: center;
    padding: 10px;
    left:0;
    right:0;
    margin: 5px auto;
    width:10vw;
    height:5vh;
    box-shadow: 0px 1px 2px var(--aux-color);   
  }

  .activeItem > p {
    margin:0px;
    margin-left:.8em;
    font-size:12px;
  }

  .activeItem > .icon {
    margin-right:.8em;
  }
  
  .activeContainer img {
    padding-left: .8em;
  }
  
  .textContainer h1 {
    margin-bottom: 0px;
  }

  .count{
    margin:.5em;
    font-size:12px;
    font-style: italic;
  }

  .title{
    font-weight: 700;
    margin:0;
  }

  .options{
    margin-bottom:1.5em;
  }

  .options > a {
    font-size:2.5em;
    margin-bottom:1em;
  }


  /* .details{
    margin:0;
    height:30vh;
    width: 18vw;
    background-color: var(--bg-color);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

  }

  .details > p {
    font-size:12px;
    font-weight: 700;
    padding:3px;
    margin:0;
    width:100%;
    text-align:center;
    box-shadow: 0px 1px 4px var(--aux-color);
  }

  .details > .list {
    width:18vw;
    height:25vh;
    border:1px solid red;
  } */



  @media (min-width: 320px) and (max-width: 1200px)  {
    .textContainer {
      display: none;
    }
  }
  