
  .toggles{
    position:absolute;
    top:.5em;
    width: 4em;
    height: 6em;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
  }

  .toggle{
    border:none;
    background-color: transparent;
    font-size:1.2em;
    text-align: center;
    margin:.2em;
  }


