
  .toggles{
    position:absolute;
    top:1.5vh;
    right:5vw;
    margin:auto;
    width: 5vw;
    height: 2em;
    display:flex;
    align-items:center;
    justify-content: center;
    z-index:999;
  }

  .toggle{
    border:none;
    background-color: transparent;
    font-size:1.2em;
    text-align: center;
    margin:.1em;
  }


