
  .toggles{
    margin:auto;
    display:flex;
    align-items:center;
    justify-content: space-between;
  }

  .toggle{
    border:none;
    background-color: transparent;
    font-size:1.2em;
    text-align: center;
    margin:.1em;
  }


