.playerContainer{
  height:50vh;
  width:100%;
  top:0;
  background-color: #000;
}

.player{
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  width:50% !important;
  height:15em !important;
}

.playerSetting{
    width: 100%;
    height:10vh;
    background-color: #111;
    color: #ccc;
    top:0;
    margin:0;
    padding:0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .playerSetting > input {
    width:40%;
    height:5vh;
    text-indent: .5em;
  }
  
  .playerSetting > p {
    margin:.1em;
    padding:0;
    font-size:.8em;
  }  

  .playerSetting > .close > .icon {
    fill: #ccc;
  }
  
  .playerSetting > .close {
    position:absolute;
    top:0;
    right:0;
    font-size:1.5em;
    border:none;
  }
  
  .fullscreen.button {
    padding:0;
    font-size:1.5em;
    margin-left:74vw;
    margin-top:-5vh;
    border-radius:0;
    position:absolute;
  }

  .fullscreen.icon {
    stroke: #fff !important;
    fill: #fff !important;
  }

@media (min-width: 320px) and (max-width: 1200px) {
  .fullscreen.button {
    margin-left:92vw;
    margin-top:-7vh;
  }
}