.playerContainer{
  min-height:40vh;
  width:100%;
  top:0;
  background-color: #000;
  resize: vertical;
  overflow: hidden;
}

.player{
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  height:90%;
  width:auto;
  min-width:50% ;
  min-height:20em;
}
  .fullscreen.button {
    padding:0;
    font-size:1.5em;
    margin-left:74vw;
    margin-top:-5vh;
    border-radius:0;
    position:absolute;
  }

  .fullscreen.icon {
    stroke: #fff !important;
    fill: #fff !important;
  }

@media (min-width: 320px) and (max-width: 1200px) {
  .fullscreen.button {
    margin-left:92vw;
    margin-top:-7vh;
  }
}