.playerContainer{
  position:relative;
  height:60vh;
  padding:0;
  margin:0;
  width:100%;
  background-color: #000;
  resize: vertical;
  overflow: hidden;
  display:flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
}

.playerSection{
  position:absolute;
  margin:0 !important;
  padding:0 !important;
  height:100% !important;
  width: 100% !important;
  display:flex;
  align-items:flex-end;
  justify-content:center;
}

.toolbar{
  display:none;
  position:absolute;
  color: #fff;
  background: linear-gradient( rgba(0,0,0,.0) 20%, rgba(0,0,0,1) 20%); ;
  width:100%;
  bottom:0;
  padding:0vh 5vw;
  flex-direction: column;
}

.duration{
  font-size:.9em;
  color: #fff;
  margin-right:2px;
}

.controls {
  position: relative;
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items:center;
  margin:0;
  padding:1vh;
}

.control {
  width:20vw;
  display:flex;
  align-items:center;
  justify-content: flex-start;
}

.player{
  justify-self: center;
  margin:2vh 1vw !important;
  padding:0 !important;
  width: 100% !important;
  height: 100% !important;
}

.fullscreen.control.button {
  position:absolute;
  right:0;
}

.control.button{
  margin:0px 2px;
  margin-left:0px;
  width: 1.5em;
  height:1.5em;
  z-index:99988;
}

.volume.button {
  margin-left:25px;
  margin-right:0;
}

.control.button > .control.icon {
  stroke: #fff !important;
  fill: #fff !important;
}

.left.control{
  width:30vw;
}

.center.control{
  width:40vw;
  justify-content: space-between;
}

.center.control > p {
  width:5vw;
  font-size:14px;
}

.input.videoLink {
  width: 35vw;
  height:2.5vh;
  font-size:14px;
  background: #e7e7e7;
  border-color: #4a4d4a;
  padding:2vh;
}

.input.videoLink:focus {
  border-color: #709fb0;
}

.volumeRange {
  width: 5vw;
}

/* range style */
.wrap {
  width:100%;
  margin:0;
  padding:0;
  z-index:999;
}

.range {
  -webkit-appearance: none;
  cursor: pointer;
  height: .5vh;
  margin: 0;
  vertical-align: bottom;
  width: 100%;
  z-index:999;
}
.wrap:hover .range,
.wrap.hover .range { height: .8vh; }

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #aeaeae;
  border-radius: .8vh;
  box-shadow: inset 0 0 0 .3em #eaeaea;
  height: 0;
  width: 0;
}
.wrap:hover .range::-webkit-slider-thumb,
.wrap.hover .range::-webkit-slider-thumb {
  width: 1em;
  height: 1em;
}

.loaded .range,
.loaded .range::-webkit-slider-thumb {
  transition: 0.1s ease-in;
}


@media (min-width: 320px) and (max-width: 1200px) {
  .fullscreen.button {
    margin-left:95vw;
    margin-top:-7vh;
  }
}