html{
    --main-color: #4a4d4a;
    --lighten-main: #e7e7e7;
    --lighten-aux: #f6f6f6;
    --aux-color: #caccca;
    --bg-color: #f1f1f1;
    --text-color: #3B403A;
}

@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css?family=Manrope:300,400,500,600,700&display=swap&subset=latin-ext");
html, body{
    overflow:hidden;
    min-height: 100% !important;
    height: 100%;   
}

button {
    cursor:pointer;
}