.filePreview.container{
    width:100%;
    height:100%;
    background-color: #010203;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    border:none;
    margin:0;
    padding:0;
    position:absolute;
    z-index: 999999;
}

.filePreview > .header {
    width:100%;
    height:8vh;
    margin:0;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #121314;
    color: #eee;
    padding:2vw;
    font-size:1.1em;
    letter-spacing: .05em;
    opacity:.8;
}

.filePreview > .header > button {
    border:none;
    font-size:1.4em;
    background-color: transparent;
    padding-top:1.3vh;
    margin-right:2vw;
}

.header > button > .icon {
    fill: #eee;
}

.filePreview > .preview > img{
    height: 65vh;
    width: auto;
}

.filePreview > .footer {
    width:100%;
    height:20vh;
    background-color: #070809;
    display:flex;
    justify-content:center;
    align-items:center;
}

.footer > button {
    width:4.5em;
    height:4.5em;
    border:none;
    border-radius:50%;
    position:absolute;
    right:20vw;
    bottom:15vh;
    background-color: #709fb0;
}

.footer > .preview-thumbs{
    max-width: 60%;
    max-height: 80%;
}

.footer > button > .icon {
    font-size:1.5em;
    fill: #eee;
}

.previewThumbs {
    width:6em;
    height:6em;
    margin:0;
    padding:0;
}

.previewThumbs > .item {
    width:6em;
    height:6em;
    background-color: #efeef5;
    display:flex;
    align-items: center;
    justify-content: center;
}

.previewThumbs > .item > .thumb {
    width:5.5em;
    height:5.5em;  
}

.addFile {
    width:6em;
    height:6em;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:1em;
    margin:.5em;
    background-color: #efeef5;
    font-size:1em;
}

.addFile > button {
    border:none;
    background-color: transparent;
    color: #709fb0;
    text-transform: uppercase;
}

.addFile > button > .icon {
    font-size:2em;
    fill: #709fb0;
}
